.small-image {
    max-width: 50%; // Adjust this value to make the image smaller as needed
    height: auto;
    display: block;
    margin: 0 auto;
  }
  
  .form-group {
    margin-bottom: 1rem;
  }
  
  .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
  }