.footer {
  background-color: #f8f9fa;
  padding: 20px 0;
  text-align: center;
  color: #6c757d;

  hr {
    border: 0;
    height: 1px;
    background: #A52A2A; // Change to your desired color
    margin-bottom: 10px;
  }

  p {
    margin: 0;
    font-size: 14px;
  }
}