.container {
  margin-top: 20px;
}

h1 {
  color: #A52A2A; // Change to your desired color
}

h2 {
  color: #A52A2A; // Change to your desired color
}

hr {
  border: 0;
  height: 1px;
  background: #A52A2A; // Change to your desired color
  margin: 10px 0;
}

img {
  border: 2px solid #A52A2A; // Change to your desired color
  border-radius: 4px;
  margin-top: 10px;
  margin-bottom: 10px;
}