.navbar {
  background-color: #8b0000; // Dark red color for the background
}

.navbar-brand {
  font-size: 1.5rem;
  color: #ffffff; // White color for the brand text
}

.nav-link {
  color: #ffffff; // White color for the nav links
  &:hover {
    color: #ffdd00; // Yellow color on hover
  }
}

.navbar-toggler {
  border-color: #ffffff; // White color for the border of the toggler
}

.navbar-toggler-icon {
  background-color: #ffffff; // White color for the toggler icon
}