.navbar {
  background-color: #A52A2A !important; // Ensuring the background color is set correctly
}

.navbar-brand {
  color: #fff !important;

  &:hover {
    color: #ffd700 !important;
  }
}

.navbar-nav .nav-link {
  color: #fff !important;

  &:hover {
    color: #ffd700 !important;
  }
}